<p><%= @med.name %>
<p>$<%= @med.price %>
<p><%= @med.num_pills %>

<form method="post" action="/meds/<%=@med.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Medication">
</form>

<div class="navbar">
<a href="/meds">Home </a>
<a href="/meds/<%=@med.id%>/edit">Edit Medication </a>
</div>
